<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>coder-camps-js</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<style>
		.input-success {
			border: 3px solid green;
		}
	</style>
	<!--<div ng-controller="OldController">
		<h1>The App Works!</h1>
		<input class="form-control" ng-model="stuff">
		<button ng-click="vm.stuff = "test"" type="button" class="btn btn-danger">Delete</button>
		<button ng-disabled="!vm.stuff" ng-click="vm.create()" type="button" class="btn btn-primary">Create</button>
		<button ng-click="popup()" type="button" class="btn btn-info">Click here</button>
		<div ng-model="thing">
			<h2>{{thing}}</h2>
		</div>
	</div>-->
	<div ng-controller="OtherController as vm">
		<h1 ng-if="vm.checked">Cars</h1>
		<input type="checkbox" ng-model="vm.checked" ng-int="checked=true"/>
		<div ng-hide="vm.editing">
			<!--Create car form-->
			<h3>Create Car</h3>
			<input class="form-control" ng-class="{'input-success': vm.newCar}" ng-model="vm.newCar"/>
			<button type="button" ng-disabled="!vm.newCar" ng-click="vm.create()" class="btn btn-success">Create</button> 
			<h2>{{vm.newCar}}</h2>
			<hr>
		</div>
		<div ng-show="vm.editing">
			<!--Edit car form-->
			<h3>Edit Car</h3>
			<input type="text" class="form-control" ng-model="vm.editCar.name"/>
			<button type="button" class="btn btn-primary" ng-click="vm.submitEdit()">Submit</button>

		</div>
		<div class="well row col-md-4 container" ng-repeat="car in vm.cars track by $index">
			<h4>{{car}}</h4>
			<button type="button" class="btn btn-danger" ng-click="vm.cars.splice($index, 1)">Delete</button>
			<button type="button" class="btn btn-warning" ng-click="vm.startEdit($index)">Edit</button>
			<p ng-if="vm.newCar">CARS!</p>

		</div>
		<p class="row col-md-12" ng-if="vm.exp()">I'm not from Earth, from far away,
			I bust through chests like baby greys</p>

		</div>
		<script src="/angular/angular.min.js"></script>
		<script src="/javascript/app.js"></script>
	</body>
	</html>
